Repository alexanderovie/infra-iac, changes with the owners that CODEOWNERS names for each.
All owners: @fascinante-digital/infra-team, @fascinante-digital/infra-leads, @fascinante-digital/dns-team, @fascinante-digital/email-team, @fascinante-digital/aws-team, @fascinante-digital/devops-team, @fascinante-digital/frontend-team, @fascinante-digital/security-team

🚀 SÚPER-ÉLITE: Infraestructura completa funcionando
  .github/dependabot.yml
  .github/workflows/drift-detection.yml
  .github/workflows/terraform-apply.yml
  .github/workflows/terraform-plan.yml
  .pre-commit-config.yaml
  .tflint.hcl
  CONTRIBUTING.md
  README.md
  SECURITY.md
  bootstrap/README.md
  envs/dev/README.md
  envs/dev/main.tf
  envs/dev/providers.tf
  envs/dev/variables.tf
  envs/prod/README.md
  envs/stage/README.md
  providers/aws-core/README.md
  providers/aws-ses/README.md
  providers/aws-ses/main.tf
  providers/cloudflare/README.md
  providers/cloudflare/main.tf
  providers/cloudflare/outputs.tf
  providers/github/README.md
  providers/vercel/README.md
  providers/vercel/main.tf
  providers/vercel/outputs.tf
  scripts/sanity-check.sh
  tools/.tflint.hcl
  tools/infracost.yml
Owners: @fascinante-digital/infra-leads, @fascinante-digital/devops-team, @fascinante-digital/infra-team, @fascinante-digital/email-team, @fascinante-digital/dns-team, @fascinante-digital/frontend-team

🚀 SÚPER-ÉLITE: Staging subdomain + Environment scripts
  envs/dev/README.md
  envs/dev/main.tf
  envs/dev/variables.tf
  providers/vercel/README.md
  providers/vercel/main.tf
  providers/vercel/outputs.tf
  providers/vercel/variables.tf
  scripts/cloudflare-dns.sh
  scripts/export-env.sh
  scripts/verify-env.sh
Owners: @fascinante-digital/infra-team, @fascinante-digital/frontend-team

🔧 SÚPER-ÉLITE: Fix CI/CD workflows and modernize tooling
  .github/workflows/drift-detection.yml
  .github/workflows/plan-dev-opentofu.yml
  .github/workflows/validate-infrastructure.yml
  .pre-commit-config.yaml
  .secrets.baseline
  .tflint.hcl
  CI-CD-SETUP.md
  envs/dev/README.md
  envs/dev/main.tf
  scripts/setup-vercel-staging.sh
Owners: @fascinante-digital/infra-leads, @fascinante-digital/devops-team, @fascinante-digital/infra-team

🔧 SÚPER-ÉLITE: Fix Terraform Apply workflow
  .github/workflows/terraform-apply.yml
  scripts/setup-github-secrets.sh
Owners: @fascinante-digital/infra-leads, @fascinante-digital/devops-team, @fascinante-digital/infra-team

🔧 SÚPER-ÉLITE: Update Terraform version to 1.10.6
  .github/workflows/terraform-apply.yml
Owners: @fascinante-digital/infra-leads, @fascinante-digital/devops-team

🔧 SÚPER-ÉLITE: Fix Terraform version compatibility
  .github/workflows/terraform-apply.yml
  envs/dev/README.md
  envs/dev/main.tf
Owners: @fascinante-digital/infra-leads, @fascinante-digital/devops-team, @fascinante-digital/infra-team

feat: Estandarizar 1Password CLI v2 + OpenTofu/Terraform + Docker
  .env.example
  .github/workflows/terraform.yml
  .gitignore
  Dockerfile
  Makefile
  README.md
  docker-compose.yml
  scripts/1password-migrate.sh
  scripts/export-env-1password.sh
  scripts/export-env.sh
Owners: @fascinante-digital/infra-team, @fascinante-digital/infra-leads, @fascinante-digital/devops-team

fix: Corregir instalación 1Password CLI en Dockerfile Alpine
  Dockerfile
Owners: @fascinante-digital/infra-team

ci: Limitar Terraform a cambios de IaC y agregar Meta CI
  .github/dependabot.yml
  .github/workflows/ci-meta.yml
  .github/workflows/terraform.yml
  scripts/1password-migrate.sh
  scripts/export-env-1password.sh
Owners: @fascinante-digital/infra-leads, @fascinante-digital/devops-team, @fascinante-digital/infra-team

fix: Corregir directorio de trabajo en workflows y Makefile
  .github/workflows/terraform.yml
  Makefile
Owners: @fascinante-digital/infra-leads, @fascinante-digital/devops-team

feat: Script setup-backend.sh y correcciones finales
  .github/workflows/terraform.yml
  Makefile
  scripts/setup-backend.sh
Owners: @fascinante-digital/infra-leads, @fascinante-digital/devops-team, @fascinante-digital/infra-team

cleanup: Eliminar workflows obsoletos
  .github/workflows/drift-detection.yml
  .github/workflows/plan-dev-opentofu.yml
  .github/workflows/terraform-apply.yml
  .github/workflows/terraform-plan.yml
  .github/workflows/validate-infrastructure.yml
Owners: @fascinante-digital/infra-leads, @fascinante-digital/devops-team

feat: Configuración Dependabot SÚPER-ÉLITE
  .github/dependabot.yml
Owners: @fascinante-digital/infra-leads, @fascinante-digital/devops-team

test: agregar workflow de prueba para 1Password Service Account
  .github/workflows/test-1password.yml
Owners: @fascinante-digital/infra-leads, @fascinante-digital/devops-team

feat: Estandarizar 1Password CLI v2 + OpenTofu/Terraform + Docker (#6)
  .env.example
  .github/dependabot.yml
  .github/workflows/ci-meta.yml
  .github/workflows/drift-detection.yml
  .github/workflows/plan-dev-opentofu.yml
  .github/workflows/terraform-apply.yml
  .github/workflows/terraform-plan.yml
  .github/workflows/terraform.yml
  .github/workflows/test-1password.yml
  .github/workflows/validate-infrastructure.yml
  .gitignore
  Dockerfile
  Makefile
  README.md
  docker-compose.yml
  scripts/1password-migrate.sh
  scripts/export-env-1password.sh
  scripts/export-env.sh
  scripts/setup-backend.sh
Owners: @fascinante-digital/infra-team, @fascinante-digital/infra-leads, @fascinante-digital/devops-team

🚀 SÚPER-ÉLITE: Sistema completo de mantenimiento automático
  .github/workflows/auto-merge.yml
  .github/workflows/consistency-check.yml
  envs/dev/README.md
  envs/dev/main.tf
  envs/dev/variables.tf
  scripts/auto-merge-pr.sh
  scripts/export-env-1password.sh
  scripts/maintain-consistency.sh
  scripts/setup-auto-merge.sh
  scripts/setup-cron.sh
  scripts/watch-consistency.sh
Owners: @fascinante-digital/infra-leads, @fascinante-digital/devops-team, @fascinante-digital/infra-team

🚀 SÚPER-ÉLITE: Sistema completo de mantenimiento automático (#8)
  .github/workflows/auto-merge.yml
  .github/workflows/consistency-check.yml
  .github/workflows/terraform.yml
  .github/workflows/test-1password.yml
  envs/dev/README.md
  envs/dev/main.tf
  envs/dev/variables.tf
  scripts/auto-merge-pr.sh
  scripts/export-env-1password.sh
  scripts/maintain-consistency.sh
  scripts/setup-auto-merge.sh
  scripts/setup-cron.sh
  scripts/watch-consistency.sh
Owners: @fascinante-digital/infra-leads, @fascinante-digital/devops-team, @fascinante-digital/infra-team

Fix: Resolver errores críticos en GitHub Actions
  .github/workflows/consistency-check.yml
  scripts/export-env-1password.sh
  scripts/maintain-consistency.sh
Owners: @fascinante-digital/infra-leads, @fascinante-digital/devops-team, @fascinante-digital/infra-team

Test: Activar GitHub Actions en repo público
  test-github-actions.md
Owners: @fascinante-digital/infra-team

🚨 URGENTE: Eliminar credenciales AWS expuestas
  scripts/export-env.sh
Owners: @fascinante-digital/infra-team

CODEOWNERS:

# Global owners
* @fascinante-digital/infra-team

# Critical infrastructure files
/bootstrap/ @fascinante-digital/infra-leads
/envs/prod/ @fascinante-digital/infra-leads
/.github/workflows/ @fascinante-digital/infra-leads

# Provider modules
/providers/cloudflare/ @fascinante-digital/dns-team
/providers/aws-ses/ @fascinante-digital/email-team
/providers/aws-core/ @fascinante-digital/aws-team
/providers/github/ @fascinante-digital/devops-team
/providers/vercel/ @fascinante-digital/frontend-team

# Environment configurations
/envs/dev/ @fascinante-digital/infra-team
/envs/stage/ @fascinante-digital/infra-team @fascinante-digital/infra-leads
/envs/prod/ @fascinante-digital/infra-leads

# Security and secrets
/secrets/ @fascinante-digital/infra-leads
SECURITY.md @fascinante-digital/infra-leads @fascinante-digital/security-team

# CI/CD and automation
/.github/ @fascinante-digital/infra-leads @fascinante-digital/devops-team
/Makefile @fascinante-digital/infra-leads
/.pre-commit-config.yaml @fascinante-digital/infra-leads

# Documentation
*.md @fascinante-digital/infra-team
/README.md @fascinante-digital/infra-leads
/MIGRATIONS.md @fascinante-digital/infra-leads
/CONTRIBUTING.md @fascinante-digital/infra-leads

# Tooling configuration
/tools/ @fascinante-digital/infra-team
/.sops.yaml @fascinante-digital/infra-leads
